body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%; /* Важливо для фонового зображення на всю сторінку */
}

html {
  height: 100%; /* Важливо для фонового зображення на всю сторінку */
}

.App {
  text-align: center;
  min-height: 100%; /* Важливо для фонового зображення на всю сторінку */
}

.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.auth-container button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav li {
  margin-left: 20px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav button {
  background-color: #e4ecd9;
  color: black;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

/* Стилі для бургер-меню (спочатку приховане) */
.burger-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: none; /* Приховуємо на великих екранах */
  padding: 0;
}

.burger-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

/* Медіа-запит для мобільних пристроїв */
@media (max-width: 768px) {
  .nav {
      position: absolute;
      top: 100%; /* Розміщуємо під хедером */
      left: 0;
      width: 100%;
      background-color: #333;
      overflow: hidden; /* Приховуємо контент, коли меню закрите */
      max-height: 0;  /* Спочатку приховуємо */
      transition: max-height 0.3s ease;
  }

  .nav ul {
      flex-direction: column;
      align-items: center;
  }

  .nav li {
      margin: 10px 0;
      margin-left: 0; /* Видаляємо відступ на мобільних пристроях */
  }

  .nav button {
      display: block; /* Показуємо кнопку на всю ширину */
      width: 100%;
      text-align: center;
      margin: 10px 0;
  }

  .burger-menu {
      display: block; /* Показуємо бургер-меню */
  }

  /* Стилі для бургер-меню при відкритті */
  .burger-menu.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .burger-menu.active .bar:nth-child(2) {
      opacity: 0;
  }

  .burger-menu.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .nav.active {
      max-height: 300px; /* Задайте висоту, достатню для вмісту меню */
  }
}

.error {
  color: red;
  margin-bottom: 10px;
}