
.todo-list-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;


    background-color: #dce4d9;
    padding: 20px;
    border-radius: 8px;
    color: black;
    font-size: 1.5rem;
}
.overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    max-width: 80%;
  
  }

.add-task-form {
    display: flex;
    margin-bottom: 20px;
}

.add-task-form input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-task-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-options {
    margin-bottom: 20px;
}

.filter-options button {
    padding: 8px 12px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.filter-options button:hover {
    background-color: #ddd;
}

.task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color:black;
    font-size: medium;
    
}

.edit-mode input,
.edit-mode select {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.edit-mode button {
    background-color: #008CBA;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}
.view-mode{
    display: flex;
    flex-direction: row;
}

.view-info{
    display: flex;
    flex-direction: column;
}
.view-mode h3 {
    margin: 0;
}

.view-mode p {
    margin: 5px 0;
}

.view-mode button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}